<div class="page">
    <header class="header">
        <div class="header__container">
            <div class="header__content">
                <div class="header__top">
                    <h1 class="header__name">{{t.name}}</h1>
                    <div class="language-switcher">
                        <a href="index.html" class="language-switcher__link {{#if (eq lang 'ru')}}language-switcher__link--active{{/if}}">
                            {{t.languageSwitcher.ru}}
                        </a>
                        <span class="language-switcher__separator">|</span>
                        <a href="index-en.html" class="language-switcher__link {{#if (eq lang 'en')}}language-switcher__link--active{{/if}}">
                            {{t.languageSwitcher.en}}
                        </a>
                    </div>
                </div>
                <p class="header__title">{{t.title}}</p>
                <div class="header__contacts">
                    <a href="tel:{{t.phone}}" class="header__contact header__contact--phone">
                        <span class="header__contact-icon">📱</span>
                        <span class="header__contact-text">{{t.phone}}</span>
                    </a>
                    <span class="header__contact header__contact--location">
                        <span class="header__contact-icon">📍</span>
                        <span class="header__contact-text">{{t.location}}</span>
                    </span>
                    <a href="https://github.com/{{t.github}}" target="_blank" class="header__contact header__contact--github">
                        <span class="header__contact-icon">🔗</span>
                        <span class="header__contact-text">{{t.github}}</span>
                    </a>
                </div>
            </div>
        </header>

        <main class="main">
            <div class="main__container">
                <section class="section section--experience">
                    <h2 class="section__title">{{t.sections.experience}}</h2>
                    <div class="experience">
                        <div class="experience__item">
                            <div class="experience__header">
                                <h3 class="experience__company">{{t.experience.company}}</h3>
                                <span class="experience__position">{{t.experience.position}}</span>
                            </div>
                            <div class="experience__period">
                                <span class="experience__date">{{t.experience.period}}</span>
                                <span class="experience__location">{{t.experience.location}}</span>
                            </div>
                            <p class="experience__description">
                                {{t.experience.description}}
                            </p>
                            <p class="experience__subtitle">{{t.experience.subtitle}}</p>
                            <ul class="experience__list">
                                {{#each t.experience.achievements}}
                                <li class="experience__list-item">{{this}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </section>

                <section class="section section--skills">
                    <h2 class="section__title">{{t.sections.skills}}</h2>
                    <div class="skills">
                        {{#each t.skills.groups}}
                        <div class="skills__group">
                            {{#each this}}
                            <div class="skill">
                                {{#if (eq this "JavaScript")}}
                                    <i class="devicon-javascript-plain skill__icon"></i>
                                {{else if (eq this "TypeScript")}}
                                    <i class="devicon-typescript-plain skill__icon"></i>
                                {{else if (eq this "HTML")}}
                                    <i class="devicon-html5-plain skill__icon"></i>
                                {{else if (eq this "CSS")}}
                                    <i class="devicon-css3-plain skill__icon"></i>
                                {{else if (eq this "SCSS")}}
                                    <i class="devicon-sass-original skill__icon"></i>
                                {{else if (eq this "React")}}
                                    <i class="devicon-react-original skill__icon"></i>
                                {{else if (eq this "NextJS")}}
                                    <i class="devicon-nextjs-original skill__icon"></i>
                                {{else if (eq this "Redux")}}
                                    <i class="devicon-redux-original skill__icon"></i>
                                {{else if (eq this "Git")}}
                                    <i class="devicon-git-plain skill__icon"></i>
                                {{else if (eq this "Docker")}}
                                    <i class="devicon-docker-plain skill__icon"></i>
                                {{else if (eq this "NodeJS")}}
                                    <i class="devicon-nodejs-plain skill__icon"></i>
                                {{else if (eq this "Webpack")}}
                                    <i class="devicon-webpack-plain skill__icon"></i>
                                {{else if (eq this "Zustand")}}
                                    <span class="skill__icon skill__icon--text">Z</span>
                                {{else if (eq this "Redux toolkit")}}
                                    <span class="skill__icon skill__icon--text">RTK</span>
                                {{else if (eq this "MobX")}}
                                    <span class="skill__icon skill__icon--text">M</span>
                                {{else if (eq this "react hook form")}}
                                    <span class="skill__icon skill__icon--text">RHF</span>
                                {{else if (eq this "tanstack tables")}}
                                    <span class="skill__icon skill__icon--text">TT</span>
                                {{else if (eq this "Antd")}}
                                    <span class="skill__icon skill__icon--text">A</span>
                                {{else if (eq this "MUI")}}
                                    <span class="skill__icon skill__icon--text">MUI</span>
                                {{else if (eq this "styled components")}}
                                    <span class="skill__icon skill__icon--text">SC</span>
                                {{else if (eq this "react query")}}
                                    <span class="skill__icon skill__icon--text">RQ</span>
                                {{else if (eq this "recharts")}}
                                    <span class="skill__icon skill__icon--text">RC</span>
                                {{/if}}
                                <span class="skill__name">{{this}}</span>
                            </div>
                            {{/each}}
                        </div>
                        {{/each}}
                    </div>
                </section>

                <section class="section section--languages">
                    <h2 class="section__title">{{t.sections.languages}}</h2>
                    <div class="languages">
                        <div class="language">
                            <span class="language__name">{{t.languages.russian}}</span>
                            <span class="language__level">{{t.languages.russianLevel}}</span>
                        </div>
                        <div class="language">
                            <span class="language__name">{{t.languages.english}}</span>
                            <span class="language__level">{{t.languages.englishLevel}}</span>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>
