<div class="page">
    <header class="header">
        <div class="language-switcher">
            <div class="language-switcher__container">
                <a href="index.html"
                   class="language-switcher__link {{#if (eq lang 'ru')}}language-switcher__link--active{{/if}}">
                    {{t.languageSwitcher.ru}}
                </a>
                <span class="language-switcher__separator">|</span>
                <a href="index-en.html"
                   class="language-switcher__link {{#if (eq lang 'en')}}language-switcher__link--active{{/if}}">
                    {{t.languageSwitcher.en}}
                </a>
            </div>
        </div>
        <div class="header__container">
            <div class="header__content">
                <div class="header__info">
                    <h1 class="header__name">{{t.name}}</h1>
                    <p class="header__title">{{t.title}}</p>
                </div>
                <div class="header__contacts">
                    <a href="tel:{{t.phone}}" class="header__contact header__contact--phone">
                        <img src="phone.svg" alt="Phone" class="header__contact-icon">
                        <span class="header__contact-text">{{t.phone}}</span>
                    </a>
                    <span class="header__contact header__contact--location">
                        <img src="location.svg" alt="Location" class="header__contact-icon">
                        <span class="header__contact-text">{{t.location}}</span>
                    </span>
                    <a href="https://t.me/{{t.telegram}}" target="_blank"
                       class="header__contact header__contact--telegram">
                        <img src="telegram.svg" alt="Telegram" class="header__contact-icon">
                        <span class="header__contact-text">{{t.telegram}}</span>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <main class="main">
        <div class="main__container">
            <section class="section section--skills">
                <h2 class="section__title">{{t.sections.skills}}</h2>
                <div class="skills">
                    <div class="skills__group">
                        {{#each t.skills.list}}
                            <div class="skill">
                                <img src="{{icon}}" alt="{{name}}" class="skill__icon">
                                <span class="skill__name">{{name}}</span>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </section>

            <section class="section section--experience">
                <h2 class="section__title">
                    {{t.sections.experience}}
                    <span class="section__title-experience">({{formatTotalExperience t.experience lang}})</span>
                </h2>
                <div class="experience">
                    {{#each t.experience}}
                    <div class="experience__item" itemscope itemtype="https://schema.org/OrganizationRole">
                        <div class="experience__header">
                            <h3 class="experience__company" itemprop="worksFor" itemscope
                                itemtype="https://schema.org/Organization">
                                <span itemprop="name">{{this.company}}</span>
                                <span class="experience__duration">({{formatExperience this.startDate this.endDate ../lang}})</span>
                            </h3>
                            <span class="experience__position" itemprop="roleName">{{this.position}}</span>
                        </div>
                        <div class="experience__period">
                            <span class="experience__date">{{formatPeriod this.startDate this.endDate ../lang}}</span>
                            <span class="experience__location">{{this.location}}</span>
                        </div>
                        <p class="experience__description">
                            {{this.description}}
                        </p>
                        {{#if this.subtitle}}
                        <p class="experience__subtitle">{{this.subtitle}}</p>
                        {{/if}}
                        {{#if this.achievements}}
                        <ul class="experience__list">
                            {{#each this.achievements}}
                                <li class="experience__list-item">
                                    <span>
                                        <span class="experience__action">{{this.action}}</span>&nbsp;<span class="experience__arrow">→</span>
                                        <span class="experience__result">{{this.result}}</span>
                                    </span>
                                </li>
                            {{/each}}
                        </ul>
                        {{/if}}
                    </div>
                    {{/each}}
                </div>
            </section>

            <section class="section section--education">
                <h2 class="section__title">{{t.sections.education}}</h2>
                <div class="education">
                    <div class="education__item">
                        <h3 class="education__university">{{t.education.university}}</h3>
                        <span class="education__degree">{{t.education.degree}}</span>
                        <div class="education__period">
                            <span class="education__date">{{formatPeriod t.education.startDate t.education.endDate lang}}</span>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section section--languages">
                <h2 class="section__title">{{t.sections.languages}}</h2>
                <div class="languages">
                    <div class="language">
                        <span class="language__name">{{t.languages.russian}}</span>
                        <span class="language__level">{{t.languages.russianLevel}}</span>
                    </div>
                    <div class="language">
                        <span class="language__name">{{t.languages.english}}</span>
                        <span class="language__level">{{t.languages.englishLevel}}</span>
                    </div>
                </div>
            </section>
        </div>
    </main>
</div>
